<!DOCTYPE html>
<html>
  <head>
    <title>ConnectedPeer</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </head>
  <body>
    <div>
      <div class="row section">
        <div class="col s12 xl4 offset-xl4">
          <div class="card">
            <div class="card-image">
              <a href="https://connectedpeertutoring.org">
                <img src="/images/Connected.svg" alt="ConnectedPeer Logo" />
              </a>
            </div>
            <div class="card-content center-align">
              <p>
                Error 404: You've arrived at a page that does not exist :(
              </p>
              <a
                class="waves-effect waves-light btn back tertiary-color-background"
                href="/"
              >
                Click here to go back to a page that exists
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
